body {
    font-family: Arial, sans-serif;
    background-color: #EEEBD8;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

/*img {
    position: relative;
    float: left;
    margin-left: 30px;
    cursor: pointer;
}*/

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

.success {
    color: green;
}

.danger {
    color: red;
}

.info {
    color: blue;
}
