h2 {
    color: #28a745;
    text-align: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.centered-text {
    text-align: center;
    margin-top: 20px;
}

.centered-text p {
    font-size: 16px;
    color: #555;
}

.centered-text a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.centered-text a:hover {
    text-decoration: underline;
}
