{% extends "index.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
<h2>Login to Your Account</h2>
<form method="POST" action="{{ url_for('login') }}">
    <label for="email">Email:</label>
    {{ form.email() }}<br>

    <label for="password">Password:</label>
    {{ form.password() }}<br>

    <button type="submit">Login</button>
</form>
<div class="centered-text">
    <p>New User? <a href="{{ url_for('register') }}">Register here</a>.</p>
</div>
{% endblock %}


